Importing Libraries

In [8]:
import pandas as pd
import sqlite3

Loading Data into Pandas Dataframe

In [9]:
Customers= pd.read_csv("Data/CSV/Customers.csv", encoding="latin1", sep=";")
Location= pd.read_csv("Data/CSV/Location.csv", encoding="latin1", sep=";")
Orders= pd.read_csv("Data/CSV/Orders.csv", encoding="latin1", sep=";")
Products= pd.read_csv("Data/CSV/Products.csv", encoding="latin1", sep=";")

Pushing Dataframes Into SQL Sales Database

In [10]:
conn = sqlite3.connect("Data/SQL_db/salesss.db")

Customers.to_sql("customers", conn, if_exists="replace", index=False)
Location.to_sql("Location", conn, if_exists="replace", index=False)
Orders.to_sql("Orders", conn, if_exists="replace", index=False)
Products.to_sql("Products", conn, if_exists="replace", index=False)

1894

In [11]:
query="""SELECT * FROM customers
"""
df = pd.read_sql_query(query, conn)
print(df.head())

  Customer ID  Customer Name
0    AA-10315     Alex Avila
1    AA-10375   Allen Armold
2    AA-10480   Andrew Allen
3    AA-10645  Anna Andreadi
4    AB-10015  Aaron Bergman

In [12]:
query="""SELECT c.[Customer Name],
sum(o.Quantity*O.Sales) as Total_Sales
from orders o
join customers c
on o.[Customer ID] = c.[Customer ID]
group by c.[Customer Name]
order by Total_Sales
desc
limit 10;
"""
df = pd.read_sql_query(query, conn)
df

     Customer Name  Total_Sales
0      Sean Miller       146726
1    Adrian Barton       143812
2     Tamara Chand        92582
3     Becky Martin        88132
4      Joseph Holt        80478
5     Ken Lonsdale        74843
6        Greg Tran        72957
7     Bill Shonely        71566
8    Maria Etezadi        71540
9  Patrick O'Brill        69243

In [15]:
query="""SELECT * from orders
"""
df = pd.read_sql_query(query, conn)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Row ID       9994 non-null   int64
 1   Order ID     9994 non-null   object
 2   Order Date   9994 non-null   object
 3   Ship Date    9994 non-null   object
 4   Ship Mode    9994 non-null   object
 5   Customer ID  9994 non-null   object
 6   Segment      9994 non-null   object
 7   Postal Code  9994 non-null   int64
 8   Product ID   9994 non-null   object
 9   Sales        9994 non-null   object
 10  Quantity     9994 non-null   int64
 11  Discount     9994 non-null   object
 12  Profit       9994 non-null   object
dtypes: int64(3), object(10)
memory usage: 1015.1+ KB

In [16]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Segment', 'Postal Code', 'Product ID', 'Sales',
       'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [18]:
df.columns.tolist()

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Segment',
 'Postal Code',
 'Product ID',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [20]:
Customers.columns.tolist()

['Customer ID', 'Customer Name']

In [22]:
Location.columns.tolist()

['Postal Code', 'City', 'State', 'Region', 'Country/Region']

In [24]:
Orders.columns.tolist()

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Segment',
 'Postal Code',
 'Product ID',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [26]:
Products.columns.to_list()

['Product ID', 'Category', 'Sub-Category', 'Product Name']

In [ ]:
['Product ID','Product Name', 'Category', 'Sub-Category' ]