In [1]:
import pandas as pd

In [20]:
Customers= pd.read_csv("Customers.csv", encoding="latin1", sep=";")
Location= pd.read_csv("Location.csv", encoding="latin1", sep=";")
Orders= pd.read_csv("Orders.csv", encoding="latin1", sep=";")
Products= pd.read_csv("Products.csv", encoding="latin1", sep=";")

SyntaxError: invalid syntax (947625805.py, line 1)

In [ ]:
import sqlite3

conn = sqlite3.connect("sales.db")

Customers.to_sql("customers", conn, if_exists="replace", index=False)
Location.to_sql("Location", conn, if_exists="replace", index=False)
Orders.to_sql("Orders", conn, if_exists="replace", index=False)
Products.to_sql("Products", conn, if_exists="replace", index=False)

conn.close()

In [19]:
Location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632 entries, 0 to 631
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Postal Code     631 non-null    float64
 1   City            632 non-null    object
 2   State           632 non-null    object
 3   Region          632 non-null    object
 4   Country/Region  632 non-null    object
dtypes: float64(1), object(4)
memory usage: 24.8+ KB