In [43]:
import pandas as pd
import sqlite3

In [44]:
conn=sqlite3.connect('mysales.db')

Customers=pd.read_csv('Data/CSV/Customers.csv', encoding='latin-1',sep=";")
Orders=pd.read_csv('Data/CSV/Orders.csv', encoding='latin-1',sep=";")
Products=pd.read_csv('Data/CSV/Products.csv', encoding='latin-1',sep=";")
Location=pd.read_csv('Data/CSV/Location.csv', encoding='latin-1',sep=";")

In [45]:
Customers.to_sql("customers",conn,if_exists="replace",index=False)
Orders.to_sql("orders",conn,if_exists="replace",index=False)
Products.to_sql("products",conn,if_exists="replace",index=False)
Location.to_sql("location",conn,if_exists='replace',index=False)

632

In [46]:
query="""SELECT * from customers limit 10;"""
all_customers=pd.read_sql_query(query,conn)
all_customers.describe()

       Customer ID Customer Name
count           10            10
unique          10            10
top       AA-10315    Alex Avila
freq             1             1

In [47]:
query="""select * from orders limit 10"""
all_orders=pd.read_sql_query(query,conn)

In [50]:
Customers.columns.tolist()
Orders.columns.tolist()

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Segment',
 'Postal Code',
 'Product ID',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [ ]:
query="""
SELECT c.[Customer Name],
sum(o.Quantity*o.Sales)
as Total_Sales
from orders o 
join customers c
on c.[Customer ID]=o.[Customer ID]
group by c.[Customer ID]
order by Total_Sales
desc
limit 10;
"""
df=pd.read_sql_query(query,conn)
df

DatabaseError: Execution failed on sql 'SELECT c.[Customer Name],
sum(o.Quantity*o.Sales) as Total_Sales
from orders o
join customer c
on c.[Customer ID]=o.[Customer ID]
group by c.[Customer ID]
order by Total_Sales
desc
limit 10;
': no such table: customer